

/***************************************************
		Reescritura de stilos de Travel Points 
***************************************************/
@font-face {
font-family: 'Nexa Book';
font-style: normal;
font-weight: normal;
src: local('Nexa Book'), url('../../assets/fonts/NexaBook.woff') format('woff');
}

@font-face {
font-family: 'Nexa Book Italic';
font-style: normal;
font-weight: normal;
src: local('Nexa Book Italic'), url('../../assets/fonts/NexaBookItalic.woff') format('woff');
}

@font-face {
font-family: 'Nexa Thin';
font-style: normal;
font-weight: normal;
src: local('Nexa Thin'), url('../../assets/fonts/NexaThin.woff') format('woff');
}

@font-face {
font-family: 'Nexa Bold';
font-style: normal;
font-weight: normal;
src: local('Nexa Bold'), url('../../assets/fonts/NexaBold.woff') format('woff');
}

@font-face {
font-family: 'Myriad';
font-style: normal;
font-weight: normal;
src:url('../../assets/fonts/MYRIADPRO-COND.OTF') format('OTF');
}
@font-face {
font-family: 'Myriad Bold';
font-style: normal;
font-weight: normal;
src:url('../../assets/fonts/MYRIADPRO-BOLDCOND.OTF') format('OTF');
}

.g1{
	display: flex;
	justify-content: center;
	height: auto;
}


.negocio{
	min-height: 100%;
	height: 100% !important;
	background: white;
	/* margin: 0px 20px; */
}
#estadodecuenta td{
		font-family: 'Myriad' !important;
		color: #0082b7 !important;
		font-weight: 400 !important;
}
#estadodecuenta .b2{
	/*font-family:'Nexa Book Italic' !important;
	color: #000 !important;
	font-weight: 400 !important;*/
		
}

#estadodecuenta .negativo{
	color: red;
}




.pull-right{
	width: auto;
}		
.bootstrap-datetimepicker-widget{
	z-index: 100 !important;
}
.ttconsumosusuarios{

	height: 470px !important;
}
.content-solicitud{
	margin-top: 20px;
	font-family: 'Nexa Bold Regular';

}
.contenido-home{
	overflow-y: auto;
	max-height: 85vh !important;
}
.contenedor-solicitud{
	margin-top: 30px !important;
}

.titulo{
width: 100%;
	/* background-color: black; */
	height: 50px;
	padding: 5px 5px !important;
	margin: 10px 0px !important;
	display: flex;
	justify-content: center;
	align-content: centers;
}
.slider.slider-horizontal{
	width: 100% !important; 
}

/*BTN IATAS */

.btn-iata{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.btn-iata button{
	padding: 5px 5px;
	/*background: transparent;*/
	margin-left: 1rem;
}
.btn-iata .fa{
	font-size: 12pt;
	margin: 0px;
	color: black;
}
.header-actualizacion{
	display: flex;
	justify-content: space-between;
	/*background: red;*/

}
.header-actualizacion h5:nth-child(1){
	flex: 2 0 200px;
}

.header-actualizacion button{
	margin-left: 1rem;
	background: transparent;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 50px;
	padding: auto 0;
	text-decoration: none;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	z-index: 500;
}
.header-actualizacion .fa{
	margin: 0px;
}



.modal{
	z-index: 900 !important;
}
.modal-backdrop{
    z-index: 10;        
}​
.codigohotel{
	background: red;
}

.actualizarperfil{
	/*background: red;*/
	justify-content: space-around;
	display: flex;
	width: 100px;
	margin-left: 2rem:
	color:white; 
}

.area-image figure{
	display: flex;
	justify-content: center;
}
.area-image img{
	width: auto;
	height: auto;
	max-height: 200px;
	border-radius: 10px;
}