

/***************************************************
		Reescritura de stilos de Travel Points 
***************************************************/


.g1{
	display: flex;
	justify-content: center;
	height: auto;
}


.negocio{
	min-height: 100%;
	height: 100% !important;
	background: white;
	/* margin: 0px 20px; */
}