

@font-face {
font-family: 'Myriad';
font-style: normal;
font-weight: normal;
src:url('fonts/MYRIADPRO-COND.OTF') format('OTF');
}


body{

	/* background: red; */
	/* margin: 5rem; */
	font-family: 'Myriad Bold';
	/*margin:  30pt 30pt 30pt 30pt;*/
	height: 148mm;
	width: 210mm;
	max-width: 210mm;
	max-height: 148mm;
	/*min-height: 100%;*/
	padding: 0px;
	margin: 0px;
	/*border: 1px solid black;*/
	 /*background-color: blue; */
	 /*display: flex;*/
	 /*flex-direction: column;*/
}
html{
	padding: 0px;
	margin: 0px;
}

header{
	width: 100%;
	/*height: 15%;*/
	flex: 0 1 auto; 
}

header table{
	border: red;
	/* border: 0px  !important; */
	width: 100%;
	/* border: 1px solic black !important; */
	line-height: 5px;
	font-family: 'Myriad';
}
.cabezera-pdf{
	background: #009ee4;
	padding: 3rem 0px;
	margin: 0px;
	text-align: center;
}

/*.cabezera-pdf table{
	width: 100%;
}
.cabezera-pdf td{
	text-align: center;
	width: 100%;
}*/

.cabezera-pdf img{
	height: auto;
	width: 50%;
	/*max-height: 400px;*/
	text-align: center;
	margin: 0px 0px;
	/*background: red;*/

}

.t-principal{
	width: 100%;
	text-align: center;
}

.t-principal {
	padding: 0;
	margin: 0;
	outline: none;
}

.cuerpo{
	text-align: center;
	/*background: red;*/
	position: relative;
	height: 30%;
	vertical-align: center;
	padding-top: 0px;

}
.cuerpo table{
	border-collapse: collapse;
	border-spacing: 0px;
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 10px !important;
	margin-left: auto;
	margin-right: auto;
}
.cuerpo thead{
	margin-top: 2px;
	text-align: center;
}
.cuerpo table td,
.cuerpo table th{
	line-height: 20px;
	outline-width: 0;
	text-decoration: none;
	/*margin: auto 0px;*/
	padding: 2px;
	padding-left: 10px;
	height: auto;
	border-spacing: 0px;
	border:0px solid rgba(0,0,0,0.5);
	text-align: justify;

	}
.cuerpo table td{
	height: 60px !important;
	text-align: justify;
}
.cuerpo h2{
	font-family: 'Myriad' !important;
	font-size: 20pt;
	margin: 0px;
	padding: 0px;
}
h2,h3,h3,h4{
	margin: 0px;
	padding: 0px;
}
.title{
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
	font-family: Serif;
}

.pie-pagina{
	position: absolute;
	text-align: center;
	float: center;
	vertical-align: center;

	/*min-width: 100%;*/
	width: 100%;
	padding: 1rem 0px;
	bottom: 0px;
	background: #dddddd;
	height: 15%;
	z-index: 70;
	margin-bottom: 0px;
}
.leyenda-footer{
	margin-left: auto;
	margin-right: auto;
	padding: 2rem 0;
	margin: 0px;
	height: 100%;
	
}
.leyenda-footer small{
	display: block;
}
.pie-pagina img{
	width: 100%;
	height: auto;
	/*position: relative;*/
}
@supports(object-fit: cover) {
	.pie-pagina img{
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}
p{
	text-align: justify;
}

.b1{
	font-family: 'Myriad' !important;
	/* text-align: center; */
}
.b2{
	font-family: 'Myriad' !important;
	/* text-align: center; */
}
.negativo{
	color: red !important;
	font-family: 'Myriad';
}

.img-compr{
	width: 50px;
	height: 50px;
	border-radius: 10px;
	padding: 0px;
	margin: auto auto;
	/*background: red;*/
}

.h2-2{
	margin-top:50px !important;
}
.certificado img{
	width: 500px !important;
	height: auto !important;
}
.c1{
	height: 20px !important;
	max-height: 20px !important;
}